configuration {
    font: "FiraCode Nerd Font";
    show-icons: true;
    display-drun: "";
    drun-display-format : "{name}";
    modi: "window,run,drun";
    icon-theme: "Papirus";
}

@theme "/home/desuyume/.config/rofi/themes/spotlight-dark.rasi"
